@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Light.eot");
    src:local("☺"),url("fonts/Montserrat-Light.woff") format("woff"),url("fonts/Montserrat-Light.ttf") format("truetype"),url("fonts/Montserrat-Light.svg") format("svg");
    font-weight:300;
    font-style:normal;
}

body{
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

.card{
    background-color: #fc4b08;
    border-radius: 15px;
    width: 500px;
    margin-top: 05%;
    height: 500px;
    
}